body {
    background-image: url('/img/BannerMain.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
  }