.VideosSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 80px;
}

.VideosSection img {
    box-sizing: border-box;
    width: 2.5%;
    position: absolute;
    padding: 5px;
    margin-top: 20px;
    left: 90%;
    top: 0;
    cursor: pointer;
}

.VideosSection img:hover {
    transform: scale(1.6);
}